@font-face {
    font-family: 'Century Gothic';
    src: url('font/CenturyGothic.eot');
    src: url('font/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('font/CenturyGothic.woff') format('woff'), url('font/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('font/CenturyGothic-Italic.eot');
    src: url('font/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'), url('font/CenturyGothic-Italic.woff') format('woff'), url('font/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('font/CenturyGothic-BoldItalic.eot');
    src: url('font/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'), url('font/CenturyGothic-BoldItalic.woff') format('woff'), url('font/CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('font/CenturyGothic-Bold.eot');
    src: url('font/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('font/CenturyGothic-Bold.woff') format('woff'), url('font/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    
height:100vh;
margin:0;
display:flex;
flex-direction: column;
justify-content: center;
background-color: #0b1c28;
    
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.block {
    font-family: 'Century Gothic';
    width: 500px;
    height: 802px;
    display: block;
    margin: 0 auto;
    background-color: #081621;
    position: relative;
}

.logo {
    color: white;
    font-size: 4em;
    display: block;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 70px;
}

.sublogo {
    color: #696e71;
    font-size: 1em;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
}

.copyright {
    color: #696e71;
    font-size: 0.9em;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    margin-top: 500px;
     argin: 0 auto;
}

a{
    
text-decoration: none;   
    
}

#submit {
    font-family: 'Century Gothic';
    color: white;
    font-size: 0.95em;
    background-color: #081621;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border: 0;
    display: block;
    margin: 0 auto;
    outline: none;
    padding-top:30px;
  
}

#submit:hover {
    color: grey;
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
}

#search {
    font-family: 'Century Gothic';
    color: white;
width:65%;
    font-size: 1.2em;
    background-color: #081621;
    text-decoration: none;
    border: 0;
    display: block;
    text-align: left;
    margin: 0px auto;
    
    
}

hr {
    width: 60px;
    color: #696e71;
    margin-top: 2px;
    height: 1px;
    background-color: #696e71;
    border-style: dashed;
    border-color: #696e71;
}

.hr1 {
    width: 60px;
    color: grey;
    background-color: grey;
    border-style: dashed;
    border-color: grey;
}

.hr2 {
    margin-bottom: 15px;
    width: 340px;
    color: white;
    background-color: white;
    border-style: dashed;
    border-color: white;
}


/* MOON */

.searchblock {
    font-family: 'Century Gothic';
    background-image: url("../imgs/background.png");
    width: 500px;
    height: 802px;
    display: block;
    margin: 0 auto;
    background-color: #081621;
    position: relative;
    clear: both;
}

#arrow {
    display: block;
    margin-top: 100px;
    background-color: #081621;
    position: absolute;
    bottom: 0;
    left: 70px;
    bottom: 37px;
}

#arrow:hover {
    opacity: 0.5;
    filter: alpha(opacity=80);
}

#info {
    position: absolute;
    bottom: 0;
    left: 410px;
    bottom: 37px;
    cursor: pointer;
    text-decoration: none;
    background-color:#081621;
}

#info:hover {
    opacity: 0.5;
    filter: alpha(opacity=80);
}

.hr3 {
    width: 400px;
    color: white;
    background-color: white;
    border-style: dashed;
    border-color: white;
    display: block;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 90px;
}

#date {
    color: white;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 2.5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 120px;
}

.temp {
    position: relative;
    padding-bottom: 40px;
    line-height: 3em;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    margin: 0 auto;
    text-align: center;
}

.temp li {
    display: inline;
}

#icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 60px;
}

#convert {
    height: 20px;
    width: 30px;
    outline: none;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 15px;
    font-family: 'Century Gothic', sans-serif;
    text-decoration: none;
    border: 0;
    background-color: #081621;
    color: white;
}

#convert:hover {
    color: grey;
    cursor: pointer;
}

#city {}

#data {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 2em;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    top: 500px;
}

#temp {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 4em;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    top: 400px;
}

.hr4 {
    width: 70px;
    color: grey;
    background-color: grey;
    border-style: dashed;
    border-color: grey;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 480px;
    opacity: 0.5;
}

.button {
    position: absolute; 
    bottom: 350px; 
    left: 0; 
    width: 100%;
}

.moon{
    
max-width: 100%;
max-height:auto;
display: block;
    
}

button{
    
text-decoration: none;
background-color:#081621;    
border-style: none;
border-color: white;   
    
}


/* Iphone 6 */

@media only screen and (min-device-width: 320px) and (max-device-width: 680px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    
.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.block {
    font-family: 'Century Gothic';
    width: 1000px;
    height: 1800px;
    display: block;
    margin: 0 auto;
    background-color: #081621;
    position: relative;
}

.logo {
    color: white;
    font-size: 9em;
    display: block;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 150px;
}

.sublogo {
    color: #696e71;
    font-size: 2.5em;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
}

.copyright {
    color: #696e71;
    font-size: 2em;
    display: block;
    margin: 0 auto;
    margin-top:1050px;
    text-align: center;
    font-weight: normal;

}

a{
    
text-decoration: none;   
    
}

#submit {
    font-family: 'Century Gothic';
    color: white;
    font-size: 2.5em;
    background-color: #081621;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border: 0;
    display: block;
    margin: 0 auto;
    outline: none;
    padding-top:50px;
  
}

#submit:hover {
    color: grey;
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
}

#search {
    font-family: 'Century Gothic';
    color: white;
    width:65%;
    font-size: 3em;
    background-color: #081621;
    text-decoration: none;
    border: 0;
    display: block;
    text-align: left;
    margin: 0px auto;
    
    
}

.hr1 {
    width: 160px;
    color: grey;
    background-color: grey;
    height: 4px;
    border-style: solid;
    border-color: grey;
}

.hr2 {
    width: 70%;
    color: white;
    margin-top: 2px;
    height: 3px;
    background-color: white;
    border-style: solid;
    border-color: white1;
}
    
    form{
        
    margin-bottom:38%;    
        
    }


/* MOON */

.searchblock {
    font-family: 'Century Gothic';
    background-image: url("../imgs/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1000px;
    height: 1800px;
    display: block;
    margin: 0 auto;
    background-color: #081621;
    position: relative;
    clear: both;
}

#arrow {
    display: block;
    margin-top: 100px;
    background-color: #081621;
    position: absolute;
    bottom: 0;
    left: 120px;
    bottom:75px;
    width:4%;
}

#arrow:hover {
    opacity: 0.5;
    filter: alpha(opacity=80);
}

#info {
    position: absolute;
    bottom: 0;
    left: 800px;
    bottom: 75px;
    cursor: pointer;
    text-decoration: none;
    background-color:#081621;
    width:3%;
}

#info:hover {
    opacity: 0.5;
    filter: alpha(opacity=80);
}

.hr3 {
    width: 800px;
    color: white;
    background-color: white;
    border-style: dashed;
    border-color: white;
    display: block;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 200px;
}

#date {
    color: white;
    text-align: center;
    font-size: 3em;
    letter-spacing: 2.5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 240px;
}

.temp {
    position: relative;
    padding-top: 40px;
    line-height: 3em;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    margin: 0 auto;
    text-align: center;
}

.temp li {
    display: inline;
}

#icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 150px;
    width:600px;
}

#convert {
    height: 20px;
    width: 30px;
    outline: none;
    position: absolute;
    top: 50px;
    right: 40px;
    font-size: 3em;
    font-family: 'Century Gothic', sans-serif;
    text-decoration: none;
    border: 0;
    background-color: #081621;
    color: white;
}

#convert:hover {
    color: grey;
    cursor: pointer;
}

#city {
    
font-size:3em;   
top:30px;
position: relative;
    
}

#data {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    font-size:6em;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    top: 1220px;
}

#temp {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    font-size:11em;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    top:950px;
}

.hr4 {
    width: 170px;
    color: grey;
    background-color: grey;
    border-style: solid;
    border-color: grey;
    display: block;
    height:5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1130px;
    opacity: 0.5;
}

.button {
    position: absolute; 
    bottom: 350px; 
    left: 0; 
    width: 100%;
}

.moon{
    
width: 100%;
:100%;
display: block;
    
}

button{
    
text-decoration: none;
background-color:#081621;    
border-style: none;
border-color: white; 
    
}
    
}



